#TRI_body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Saira', sans-serif;
  overflow: hidden;
  color: #FFF8f0;
  width: 700px;
  margin-top: 15vh;
  margin-bottom: 15vh;
  min-height: min-content;
  /* border: 3px solid #119da4; */
}
#main_body {
  min-height: 100vh;
  background-color: #2E294E;
  display: flex;
  justify-content: center;
} 

#TRI_body::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}  

form input  {
  border-radius: 8px;
  margin-top: 5px;
}

form button  {
  margin: 10px 5px;
  border-radius: 8px;
  width: 150px;
}

#correctAnswer {
  border: 2px solid #06F00F;
  padding: 4px 10px;

}  

#incorrectAnswer {
  border: 2px solid #FF0000;
  padding: 4px 10px;
}  

.title-trivia {
  font-size: 60px;
  font-family: 'Luckiest Guy', cursive;
  animation: color-animation 4s linear infinite;
}  

.title-trivia-animated {
  --color-1: #119DA4;
  --color-2: #FCA311;
  --color-3: #FFF8F0;
}  

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}  

.LoginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15% auto;
  width: 500px;
  height: 300px;
  text-align: center;
  background-color: #FFC857;
  border-radius: 8px;
  color: #FFF8F0;
}  

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #119DA4;
  border-radius: 5px;

}

.fontHeader {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  margin: auto;
}

.imgHeader {
  height: 50px;
  border-radius: 5px;

}

.gameContainer {
  margin: 0 auto;
  text-align: center;
}

.questionCategory {
  font-family: 'Luckiest Guy', cursive;
  color: #FCA311;
}

.question {
  font-size: 35px;
  margin: 20px 0 40px 0;
}

.emphasisText {
  font-family: 'Luckiest Guy', cursive;
  color: #FCA311;
}

.rankingContainer {
  width: 50%;
  margin: 10% auto;
  text-align: center;
}

.inlineCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgUser {
  height: 40px;
}
